{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}
<div class="container w-full xl:w-3/6">
<a href="{{ path("landing_page")}}">↤ BookGraph</a>
<article>
    <h1 class="mb-3 font-weight-normal">Sign in</h1>
    <form method="post" class="mt-8 space-y-6">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="rounded-md shadow-sm -space-y-px">
        <label for="inputId" class="sr-only">Email</label>
        <input
            type="email" value="{{ last_username }}" name="email" id="inputId"
            placeholder="Email"
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            required autofocus
        >
        <label for="inputPassword" class="sr-only">Password</label>
        <input
            type="password" name="password" id="inputPassword"
            placeholder="Password"
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            required
        >
        </div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <div class="text-center">
            <button
                class="py-2 px-6 text-4xl border rounded-full border-solid text-blue-700 border-blue-700 font-semibold hover:shadow-md hover:bg-linen-dark focus:bg-linen-dark focus:ring-2 focus:ring-blue focus:ring-opacity-75"
                type="submit"
            >
                Sign in
            </button>
        </div>
    </form>
</article>
<section class="mt-8">
    Don't have an account? <a href="{{ path("app_register")}}">Register.</a>
</section>
</div>
{% include "components/bottom-bar.html.twig" %}
{% endblock %}
