{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1>Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>AuthorName</th>
                <td>{{ book.authorName }}</td>
            </tr>
            <tr>
                <th>CreatedOn</th>
                <td>{{ book.createdOn ? book.createdOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedOn</th>
                <td>{{ book.updatedOn ? book.updatedOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% if book.notes %}
    <ul>
        {% for note in book.notes %}
            <li><a href="{{ path("note_show", { id: note.id }) }}">{{ note.content }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    <a href="{{ path('book_index') }}">back to list</a>

    <a href="{{ path('book_edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
